<p id="notice"><%= notice %></p>

<p>
  <strong>Product req:</strong>
  <%= @transfer.product_req %>
</p>

<p>
  <strong>Product offer:</strong>
  <%= @transfer.product_offer %>
</p>

<p>
  <strong>Active:</strong>
  <%= @transfer.active %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
